@page
@model _17nsj.Jedi.Pages.ActivityDetailModel
@{
    ViewData["Title"] = "プログラム詳細";
}

<section class="content">
    <div>
        <div class="box box-primary" style="border-top: 30px solid @Model.CurrentAct.CategoryColor;">
            <div class="box-header with-border">
                <h3 style="margin-top: 0px; margin-bottom: 0px;">@Model.CurrentAct.Title <small>@Model.CurrentAct.Category-@Model.CurrentAct.Id</small></h3>
            </div>
            <div class="box-body">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="col-md-12 col-sm-12 row">
                        <img src="@Model.CurrentAct.MediaURL" class="image col-md-12 col-xs-12">
                    </div>
                    <p style="margin-top: 10px;">
                        @Html.Raw(Html.Encode(Model.CurrentAct.Outline).Replace(Html.Encode("\r\n"), "<br />"))
                    </p>
                    <p style="margin-top: 10px;">
                        区分：@Model.CurrentAct.CategoryName
                    </p>
                    <p style="margin-top: 10px;">
                        日時：@Model.CurrentAct.Term
                    </p>
                    <p style="margin-top: 10px;">
                        場所：@Model.CurrentAct.Location
                    </p>

                    <div class="iframeWrapper">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1ewUDH89xMIEzJ-9wB5_0t8bJDXBowjef&hl=ja&ll=@Model.CurrentAct.Latitude,@Model.CurrentAct.Longitude&z=18" width="640" height="480"></iframe>
                    </div>

                    <div class="pull-right" style="margin-top: 10px;">
                        <p>
                            最終更新日(JST):@Model.CurrentAct.UpdatedAt.AddHours(9).ToString("yyyy/MM/dd HH:mm")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

