@page
@model _17nsj.Jedi.Pages.NoticeBoardDeleteModel
@{
    ViewData["Title"] = "NoticeBoardDelete";
}

<section class="content">
    <div>
        <div class="box box-primary">
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.HiddenFor(modelitem => Model.TargetNotice.Id)
                <div class="box-body">
                    <div class="form-horizontal col-md-6 col-md-offset-3">
                        <h3>この操作は元に戻せません。削除しますか？</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">件名</label>
                            <div class="col-sm-9 control-text">
                                @Model.TargetNotice.Title
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">宛先</label>
                            <div class="col-sm-9 control-text">
                                @Model.TargetNotice.Receiver
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">発信者</label>
                            <div class="col-sm-9 control-text">
                                @Model.TargetNotice.Sender
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">発信日時(JST)</label>
                            <div class="col-sm-9 control-text">
                                @Model.TargetNotice.CreatedAt.AddHours(9).ToString("yyyy/MM/dd HH:mm")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">掲載期限(JST)</label>
                            <div class="col-sm-9 control-text">
                                @Model.TargetNotice.Termination.AddHours(9).ToString("yyyy/MM/dd HH:mm")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class=" col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-danger pull-right">削除</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
