@page
@model _17nsj.Jedi.Pages.NoticeBoardListModel
@{
    ViewData["Title"] = "掲示";
}
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                @if (!Model.IsSysAdmin)
                {
                    @:セキュリティ設定により @Model.UserName さんが作成した掲示のみ表示中
                }
                <a href="/NoticeBoardManage" type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>宛先</th>
                                <th>件名</th>
                                <th>発信者</th>
                                <th>発信日時(JST)</th>
                                <th>掲載期限(JST)</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.お知らせリスト)
                            {
                            <tr>
                                <td>@item.Receiver</td>
                                <td><a href="/NoticeBoardDetail?id=@item.Id">@item.Title</a></td>
                                <td>@item.Sender</td>
                                <td>@item.CreatedAt.AddHours(9).ToString("yyyy/MM/dd HH:mm")</td>
                                @if (item.Termination < DateTime.UtcNow)
                                {
                                    <td class="text-red" data-toggle="tooltip" data-placement="bottom" title="掲載期限切れ"><i class="fa fa-exclamation-circle"></i> @item.Termination.AddHours(9).ToString("yyyy/MM/dd HH:mm")</td>
                                }
                                else
                                {
                                    <td>@item.Termination.AddHours(9).ToString("yyyy/MM/dd HH:mm")</td>
                                }
                                <td>
                                    <a href="/NoticeBoardManage?id=@item.Id" type="button" class="btn btn-info btn-flat">編集</a>
                                </td>
                                <td>
                                    <a href="/NoticeBoardDelete?id=@item.Id" type="button" class="btn btn-danger btn-flat">削除</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>